Repository embrace-io/embrace-android-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @embrace-io/team-devops, @embrace-io/sdk-android, @fractalwrench, @fnewberg, @bidetofevil, @TheMutsi

Revert profileinstaller version update because our minCompileSdk hasn't been updated
  embrace-android-sdk/build.gradle
Owners: @embrace-io/sdk-android

Revert profileinstaller version update because our minCompileSdk hasn't been updated (#817)
  embrace-android-sdk/build.gradle
Owners: @embrace-io/sdk-android

Added thermal state data source
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/EmbType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/SchemaType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/thermalstate/ThermalStatusDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/ThermalStatusDataSourceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/DataSourceModuleImplTest.kt
Owners: @embrace-io/sdk-android

Rename enableIntegrationTesting param and update conditions for session environment definition.
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceAndroidApi.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/EssentialServiceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/utils/Types.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EssentialServiceModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapperTest.kt
Owners: @embrace-io/sdk-android, @fractalwrench, @fnewberg, @bidetofevil

Rollback conditions.
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/EssentialServiceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EssentialServiceModuleImplTest.kt
Owners: @embrace-io/sdk-android

Rollback conditions.
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceAndroidApi.java
Owners: @fractalwrench, @fnewberg, @bidetofevil

Added span links
  buildSrc/src/main/kotlin/io/embrace/gradle/Versions.kt
  embrace-android-sdk/config/detekt/baseline.xml
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/payload/Span.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/payload/SpanMapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanContext.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanData.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanLink.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/SpanService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/SpanServiceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/UninitializedSdkSpanService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/network/logging/EmbraceNetworkLoggingService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/spans/EmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeSpanService.kt
  embrace-android-sdk/src/test/resources/bg_activity_message_expected.json
  embrace-android-sdk/src/test/resources/session_message_expected.json
Owners: @embrace-io/sdk-android

Renamed ThermalStatusDataSource to ThermalStateDataSource
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/thermalstate/ThermalStateDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/ThermalStateDataSourceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/DataSourceModuleImplTest.kt
Owners: @embrace-io/sdk-android

fix: suppress compiler warnings
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/envelope/resource/Device.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/envelope/resource/EnvelopeResourceSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/metadata/EmbraceMetadataService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeLogOrchestrator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeCoreModule.kt
Owners: @embrace-io/sdk-android

refactor: improve error message when desugaring not enabled
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/OpenTelemetryModule.kt
Owners: @embrace-io/sdk-android

Added test
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/ThermalStateTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/thermalstate/ThermalStateDataSource.kt
Owners: @embrace-io/sdk-android

Remove ThermalStatusService and BetaFeatures.
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/thermalstate/EmbraceThermalStatusService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/thermalstate/NoOpThermalStatusService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/thermalstate/ThermalStatusService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/gating/SessionSanitizer.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataCaptureServiceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SessionModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/utils/Types.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/BetaFeatures.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/Session.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/ThermalState.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V1PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/BetaFeaturesTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceThermalStatusServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionSanitizerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeThermalStatusService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeDataCaptureServiceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/DataCaptureServiceModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/V1PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/PayloadFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/resources/session_expected.json
Owners: @embrace-io/sdk-android

Remove listener when disabling the data source.
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/thermalstate/ThermalStateDataSource.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/ThermalStateDataSourceTest.kt
Owners: @embrace-io/sdk-android

Put the feature behind the beta features flag.
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/ThermalStateTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
Owners: @embrace-io/sdk-android

Detekt fix.
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
Owners: @embrace-io/sdk-android

Cosmetic change
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/thermalstate/ThermalStateDataSource.kt
Owners: @embrace-io/sdk-android

refactor: remove strict mode config
  embrace-android-sdk/config/detekt/baseline.xml
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/behavior/SessionBehavior.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/local/SessionLocalConfig.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SdkObservabilityModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbraceInternalErrorService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/ReportingLoggerAction.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/LegacyExceptionError.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/LocalConfigTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/config/behavior/SessionBehaviorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/config/local/SessionLocalConfigTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeSdkObservabilityModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/EmbraceInternalErrorServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/ReportingLoggerActionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/BackgroundActivityTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/LegacyExceptionErrorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
Owners: @embrace-io/sdk-android

refactor: rename logger actions
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/LogRecordExporterTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/SpanTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SdkObservabilityModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/AndroidLoggingAction.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/InternalEmbraceLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/InternalErrorService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/InternalErrorServiceAction.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/LogcatAction.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceCacheServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceDeliveryCacheManagerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetectorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/startup/AppStartupTraceEmitterTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/delivery/EmbraceCacheServiceConcurrentAccessTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/concurrency/ExecutionCoordinator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeLogAction.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeSdkObservabilityModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/InternalEmbraceLoggerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/InternalErrorServiceActionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/EmbraceProcessStateServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/worker/WorkerThreadModuleImplTest.kt
Owners: @embrace-io/sdk-android

refactor: remove dead code
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/FlutterInternalInterfaceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/ReactNativeInternalInterfaceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/UnityInternalInterfaceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/aei/AeiDataSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/InternalEmbraceLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/InternalErrorServiceAction.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/ndk/EmbraceNdkService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FlutterInternalInterfaceImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/ReactNativeInternalInterfaceImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/UnityInternalInterfaceImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/InternalEmbraceLoggerTest.kt
Owners: @embrace-io/sdk-android

refactor: inline logcat action
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/InternalEmbraceLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/LogcatAction.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/InternalEmbraceLoggerTest.kt
Owners: @embrace-io/sdk-android

Remove code related to "live debug" sessions.
  embrace-android-sdk/api/embrace-android-sdk.api
  embrace-android-sdk/src/integrationTest/java/io/embrace/android/embracesdk/PreSdkStartTest.java
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRule.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/CrashTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceAndroidApi.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/behavior/SdkEndpointBehavior.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/local/BaseUrlLocalConfig.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/EssentialServiceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/utils/Types.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EssentialServiceModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/LocalConfigTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/config/behavior/SdkEndpointBehaviorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/config/local/BaseUrlLocalConfigTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapperTest.kt
  embrace-android-sdk/src/test/resources/base_url_config.json
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

refactor: inline error service action
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/LogRecordExporterTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/SpanTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SdkObservabilityModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLoggerImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/InternalErrorServiceAction.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceCacheServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceDeliveryCacheManagerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetectorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/startup/AppStartupTraceEmitterTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/api/ApiClientImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/delivery/EmbraceCacheServiceConcurrentAccessTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/concurrency/ExecutionCoordinator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeEmbLogger.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeLogAction.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeSdkObservabilityModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/SdkObservabilityModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/EmbLoggerImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/InternalErrorServiceActionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/EmbraceProcessStateServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/worker/WorkerThreadModuleImplTest.kt
Owners: @embrace-io/sdk-android

refactor: add explicit function for tracking internal errors
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLoggerImpl.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeEmbLogger.kt
Owners: @embrace-io/sdk-android

refactor: adjust severities of log messages
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/UnityInternalInterfaceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/EmbraceAnrService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/LivenessCheckScheduler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetector.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/connectivity/EmbraceNetworkConnectivityService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/cpu/EmbraceCpuInfoDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crash/EmbraceUncaughtExceptionHandler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/RnBreadcrumbDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/envelope/resource/Device.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/memory/ComponentCallbackService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/webview/EmbraceWebViewService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/EmbraceCacheService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/EmbraceConfigService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/event/EmbraceLogMessageService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/logs/EmbraceLogService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLoggerImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/EmbraceMemoryCleanerService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/caching/PeriodicBackgroundActivityCacher.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/caching/PeriodicSessionCacher.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/ActivityLifecycleTracker.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/EmbraceProcessStateService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetectorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeEmbLogger.kt
Owners: @embrace-io/sdk-android

Update javadoc.
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceAndroidApi.java
Owners: @fractalwrench, @fnewberg, @bidetofevil

refactor: explicitly capture internal errors
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/EmbraceAnrService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/LivenessCheckScheduler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetector.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/DataCaptureOrchestrator.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/datasource/DataSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/aei/AeiDataSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/connectivity/EmbraceNetworkConnectivityService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crash/EmbraceUncaughtExceptionHandler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/envelope/resource/Device.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/metadata/EmbraceMetadataService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/user/EmbraceUserService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/webview/EmbraceWebViewService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/EmbraceConfigService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/event/EmbraceEventService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLoggerImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/InternalErrorType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/ndk/EmbraceNdkService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/extensions/CrashFactory.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/EmbraceMemoryCleanerService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/SafeCaptureExtension.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/caching/PeriodicBackgroundActivityCacher.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/caching/PeriodicSessionCacher.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/id/SessionIdTrackerImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/ActivityLifecycleTracker.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/EmbraceProcessStateService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceDeliveryCacheManagerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeEmbLogger.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/EmbraceProcessStateServiceTest.kt
Owners: @embrace-io/sdk-android

refactor: avoid log stacktrace concept
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/EmbraceAnrService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/LivenessCheckScheduler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/TargetThreadHandler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetector.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/aei/AeiDataSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/cpu/EmbraceCpuInfoDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crash/EmbraceUncaughtExceptionHandler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/user/EmbraceUserService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryCacheManager.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/event/EmbraceEventService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLoggerImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/ndk/EmbraceNdkService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/network/logging/NetworkCaptureEncryptionManager.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/extensions/CrashFactory.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/registry/ServiceRegistry.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/ActivityLifecycleTracker.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/EmbraceProcessStateService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetectorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeEmbLogger.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/EmbLoggerImplTest.kt
Owners: @embrace-io/sdk-android

undo NoOp
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/RnActionDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
Owners: @embrace-io/sdk-android

new data source
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/ReactNativeInternalInterfaceTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/EmbType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/SchemaType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/EmbraceBreadcrumbService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/RnActionDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataCaptureServiceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/crumbs/EmbraceBreadcrumbServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/DataSourceModuleImplTest.kt
  embrace-android-sdk/src/test/resources/v1_session_expected.json
Owners: @embrace-io/sdk-android

rebase
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/RnActionDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
Owners: @embrace-io/sdk-android

fix properties test
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/ReactNativeInternalInterfaceTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/SchemaType.kt
Owners: @embrace-io/sdk-android

use recordCompletedSpan
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/ReactNativeInternalInterfaceTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/RnActionDataSource.kt
Owners: @embrace-io/sdk-android

no op
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/RnActionDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
Owners: @embrace-io/sdk-android

ReactNativeAction DataSource (#829)
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/ReactNativeInternalInterfaceTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/EmbType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/SchemaType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/EmbraceBreadcrumbService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/RnActionDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataCaptureServiceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/crumbs/EmbraceBreadcrumbServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/DataSourceModuleImplTest.kt
  embrace-android-sdk/src/test/resources/v1_session_expected.json
Owners: @embrace-io/sdk-android

refactor: inline error service action
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/LogRecordExporterTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/SpanTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SdkObservabilityModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLoggerImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/InternalErrorServiceAction.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceCacheServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceDeliveryCacheManagerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetectorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/startup/AppStartupTraceEmitterTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/api/ApiClientImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/delivery/EmbraceCacheServiceConcurrentAccessTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/concurrency/ExecutionCoordinator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeEmbLogger.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeLogAction.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeSdkObservabilityModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/SdkObservabilityModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/EmbLoggerImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/InternalErrorServiceActionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/EmbraceProcessStateServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/worker/WorkerThreadModuleImplTest.kt
Owners: @embrace-io/sdk-android

refactor: add explicit function for tracking internal errors
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLoggerImpl.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeEmbLogger.kt
Owners: @embrace-io/sdk-android

refactor: adjust severities of log messages
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/UnityInternalInterfaceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/EmbraceAnrService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/LivenessCheckScheduler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetector.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/connectivity/EmbraceNetworkConnectivityService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/cpu/EmbraceCpuInfoDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crash/EmbraceUncaughtExceptionHandler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/RnBreadcrumbDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/envelope/resource/Device.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/memory/ComponentCallbackService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/webview/EmbraceWebViewService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/EmbraceCacheService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/EmbraceConfigService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/event/EmbraceLogMessageService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/logs/EmbraceLogService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLoggerImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/EmbraceMemoryCleanerService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/caching/PeriodicBackgroundActivityCacher.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/caching/PeriodicSessionCacher.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/ActivityLifecycleTracker.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/EmbraceProcessStateService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetectorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeEmbLogger.kt
Owners: @embrace-io/sdk-android

refactor: explicitly capture internal errors
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/EmbraceAnrService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/LivenessCheckScheduler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetector.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/DataCaptureOrchestrator.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/datasource/DataSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/aei/AeiDataSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/connectivity/EmbraceNetworkConnectivityService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crash/EmbraceUncaughtExceptionHandler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/envelope/resource/Device.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/metadata/EmbraceMetadataService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/user/EmbraceUserService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/webview/EmbraceWebViewService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/EmbraceConfigService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/event/EmbraceEventService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLoggerImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/InternalErrorType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/ndk/EmbraceNdkService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/extensions/CrashFactory.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/EmbraceMemoryCleanerService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/SafeCaptureExtension.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/caching/PeriodicBackgroundActivityCacher.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/caching/PeriodicSessionCacher.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/id/SessionIdTrackerImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/ActivityLifecycleTracker.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/EmbraceProcessStateService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceDeliveryCacheManagerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeEmbLogger.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/EmbraceProcessStateServiceTest.kt
Owners: @embrace-io/sdk-android

refactor: avoid log stacktrace concept
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/EmbraceAnrService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/LivenessCheckScheduler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/TargetThreadHandler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetector.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/aei/AeiDataSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/cpu/EmbraceCpuInfoDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crash/EmbraceUncaughtExceptionHandler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/user/EmbraceUserService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryCacheManager.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/event/EmbraceEventService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLoggerImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/ndk/EmbraceNdkService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/network/logging/NetworkCaptureEncryptionManager.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/extensions/CrashFactory.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/registry/ServiceRegistry.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/ActivityLifecycleTracker.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/EmbraceProcessStateService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetectorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeEmbLogger.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/EmbLoggerImplTest.kt
Owners: @embrace-io/sdk-android

Use onCreate invocation to denote Activity init start time
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/startup/AppStartupTraceEmitter.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/startup/StartupTracker.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/startup/AppStartupTraceEmitterTest.kt
Owners: @embrace-io/sdk-android

.github/CODEOWNERS:

# DevOps
.github @embrace-io/team-devops

# Global owners
* @embrace-io/sdk-android

# API surface owners
*.api @fractalwrench @fnewberg @bidetofevil
**/Embrace.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceApi.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceAndroidApi.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceInternalInterface.java @fractalwrench @fnewberg @bidetofevil
**/FlutterInternalInterface.java @fractalwrench @fnewberg
**/ReactNativeInternalInterface.java @fractalwrench @fnewberg @TheMutsi
**/UnityInternalInterface.java @fractalwrench @fnewberg
