Repository embrace-io/embrace-android-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @embrace-io/team-devops, @embrace-io/sdk-android, @fractalwrench, @fnewberg, @bidetofevil, @TheMutsi

refactor: remove legacy user info
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRuleExtensions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/PersonaFeaturesTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/UserFeaturesTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/gating/SessionSanitizerFacade.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SessionModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/SessionMessage.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V1PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceGatingServiceV1PayloadTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FakeBackgroundActivity.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionSanitizerFacadeTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/BackgroundActivityMessageTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/SessionMessageTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/V1PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/PayloadFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/resources/bg_activity_message_expected.json
  embrace-android-sdk/src/test/resources/session_message_expected.json
  embrace-android-sdk/src/test/resources/v1_session_expected.json
Owners: @embrace-io/sdk-android

refactor: remove version field
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/SessionMessage.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/resources/bg_activity_message_expected.json
  embrace-android-sdk/src/test/resources/session_message_expected.json
  embrace-android-sdk/src/test/resources/v1_session_expected.json
Owners: @embrace-io/sdk-android

refactor: remove app info field
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRuleExtensions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/SpanAssertions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/FlutterInternalInterfaceTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/ReactNativeInternalInterfaceTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/UnityInternalInterfaceTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/SessionMessage.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V1PayloadMessageCollator.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FakeBackgroundActivity.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionSanitizerFacadeTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeV2OtelBehavior.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/BackgroundActivityMessageTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/SessionMessageTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/V1PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/resources/bg_activity_message_expected.json
  embrace-android-sdk/src/test/resources/session_message_expected.json
  embrace-android-sdk/src/test/resources/v1_session_expected.json
Owners: @embrace-io/sdk-android

refactor: remove device info
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRuleExtensions.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SessionModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/SessionMessage.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V1PayloadMessageCollator.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FakeBackgroundActivity.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionSanitizerFacadeTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/BackgroundActivityMessageTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/SessionMessageTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactorySessionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/V1PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/PayloadFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/resources/bg_activity_message_expected.json
  embrace-android-sdk/src/test/resources/session_message_expected.json
Owners: @embrace-io/sdk-android

refactor: remove perf info field
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRuleExtensions.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/gating/SessionSanitizerFacade.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SessionModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/SessionMessage.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V1PayloadMessageCollator.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceGatingServiceV1PayloadTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FakeBackgroundActivity.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionSanitizerFacadeTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/BackgroundActivityMessageTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/SessionMessageTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactorySessionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/V1PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/PayloadFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/resources/bg_activity_message_expected.json
  embrace-android-sdk/src/test/resources/session_message_expected.json
  embrace-android-sdk/src/test/resources/v1_session_expected.json
Owners: @embrace-io/sdk-android

Added EmbraceTracedConverterFactory
  embrace-android-retrofit/CREDITS.md
  embrace-android-retrofit/README.md
  embrace-android-retrofit/build.gradle
  embrace-android-retrofit/src/main/AndroidManifest.xml
  embrace-android-retrofit/src/main/java/io/embrace/android/embracesdk/retrofit/swazzle/callback/retrofit/EmbraceTracedConverterFactory.kt
  settings.gradle
Owners: @embrace-io/sdk-android

Added embrace-android-retrofit public api file
  embrace-android-retrofit/api/embrace-android-retrofit.api
Owners: @fractalwrench, @fnewberg, @bidetofevil

Added lint-baseline file to the retrofit module
  embrace-android-retrofit/lint-baseline.xml
Owners: @embrace-io/sdk-android

Move EmbraceSerializer to InitModule
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRule.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRuleExtensions.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/AndroidServicesModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/CoreModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/CrashModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/CustomerLogModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataCaptureServiceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DeliveryModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/EssentialServiceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/InitModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/StorageModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/utils/Types.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/ndk/NativeModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeModuleInitBootstrapper.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeCoreModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/CoreModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/CrashModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/DeliveryModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/InitModuleImplTest.kt
Owners: @embrace-io/sdk-android

new baseline-prof.txt file
  embrace-android-sdk/src/main/baseline-prof.txt
Owners: @embrace-io/sdk-android

new baseline-prof.txt file (#898)
  embrace-android-sdk/src/main/baseline-prof.txt
Owners: @embrace-io/sdk-android

Update gradle.properties
  gradle.properties
Owners: @embrace-io/sdk-android

Update gradle.properties (#899)
  gradle.properties
Owners: @embrace-io/sdk-android

Consolidate stacktrace consolidation logic and output stacktrace attribute as single string
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/assertions/OTelLogAssertions.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/OpenTelemetryModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/logs/CompositeLogService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/serialization/PlatformSerializer.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanFactory.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/utils/ThrowableUtils.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/arch/SpanDataSourceKtTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/serialization/EmbraceSerializerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/SpanServiceImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/utils/ThrowableUtilsTest.kt
Owners: @embrace-io/sdk-android

Record exception happening during a span as a SpanEvent
  embrace-android-sdk/api/embrace-android-sdk.api
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/OpenTelemetryModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanFactory.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/spans/EmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/arch/SpanDataSourceKtTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/SpanServiceImplTest.kt
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

Add extension function to turn OTel Attributes into a map of strings
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceExtensions.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanData.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/payload/LogMapperTest.kt
Owners: @embrace-io/sdk-android

Add ability to rename spans that have not ended
  embrace-android-sdk/api/embrace-android-sdk.api
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/SpanServiceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/spans/EmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImplTest.kt
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

POC for a TracerProvider that create public Tracers
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/EmbTracerTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/OpenTelemetryModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/EmbraceApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanBuilder.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanFactory.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/SpanService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/SpanServiceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/TracerCache.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/UninitializedSdkSpanService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/opentelemetry/EmbSpan.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/opentelemetry/EmbSpanBuilder.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/opentelemetry/EmbTracer.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/opentelemetry/EmbTracerBuilder.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/opentelemetry/EmbTracerProvider.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/opentelemetry/OpenTelemetrySdk.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/spans/EmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeClock.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeOpenTelemetryModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeSpanService.kt
Owners: @embrace-io/sdk-android, @fractalwrench, @fnewberg, @bidetofevil

Stop testing deprecated start methods
  embrace-android-sdk/src/integrationTest/java/io/embrace/android/embracesdk/PreSdkStartTest.java
Owners: @embrace-io/sdk-android

Update OTel Java SDK to 1.38
  buildSrc/src/main/kotlin/io/embrace/gradle/Versions.kt
Owners: @embrace-io/sdk-android

refactor: migrate span snapshot field
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/AttributeExtensions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRule.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/SpanAssertions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/NetworkStatusFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/ThermalStateTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/TracingApiTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/V2SessionApiTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SessionModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceExtensions.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/SessionMessage.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V1PayloadMessageCollator.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeSession.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeV1PayloadCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/SessionMessageTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactorySessionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/PayloadFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/resources/session_message_expected.json
  embrace-android-sdk/src/test/resources/v1_session_expected.json
  embrace-android-sdk/src/test/resources/v2_session_expected.json
Owners: @embrace-io/sdk-android

refactor: alter span assertions
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/SpanAssertions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/ActivityFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/AeiFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/LowPowerFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/NetworkStatusFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/ThermalStateTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/ViewFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/WebviewFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/CrashTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/FlutterInternalInterfaceTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/ReactNativeInternalInterfaceTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/V2SessionApiTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/startup/AppStartupTraceEmitterTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/startup/StartupServiceImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/CurrentSessionSpanAttributeTests.kt
Owners: @embrace-io/sdk-android

refactor: send payload to v2 endpoint
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/api/ApiRequest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/api/ApiRequestMapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/api/ApiService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/api/EmbraceApiService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/CachedSession.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryCacheManager.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/PendingApiCalls.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/SessionMessage.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/api/ApiRequestMapperTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/api/ApiRequestTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/api/EmbraceApiServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/delivery/EmbracePendingApiCallsSenderTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/delivery/PendingApiCallsTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeApiService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/SessionMessageTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/PayloadFactoryImplTest.kt
Owners: @embrace-io/sdk-android

refactor: alter syntax of test harness construction
  embrace-android-sdk/src/integrationTest/java/io/embrace/android/embracesdk/NullParametersTest.java
  embrace-android-sdk/src/integrationTest/java/io/embrace/android/embracesdk/PreSdkStartTest.java
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRule.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/ActivityFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/AeiFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/AnrFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/PersonaFeaturesTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/UserFeaturesTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/session/OtelSessionGatingTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/EmbraceInternalInterfaceTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/FlutterInternalInterfaceTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/LogRecordExporterTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/PublicApiTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/PushNotificationTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/ReactNativeInternalInterfaceTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/SpanTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/TracingApiTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/UnityInternalInterfaceTest.kt
Owners: @embrace-io/sdk-android

Add extension function to turn OTel Attributes into a map of strings
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceExtensions.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanData.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/payload/LogMapperTest.kt
Owners: @embrace-io/sdk-android

Add ability to rename spans that have not ended
  embrace-android-sdk/api/embrace-android-sdk.api
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/SpanServiceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/spans/EmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImplTest.kt
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

Implementation for OTel Span API
  embrace-android-sdk/api/embrace-android-sdk.api
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/opentelemetry/EmbSpan.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/spans/EmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeClock.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/opentelemetry/EmbSpanTest.kt
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

Create a span with EmbraceSpanBuilder from factory
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanFactory.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanFactoryImplTest.kt
Owners: @embrace-io/sdk-android

Add additional warning suppression to proguard file
  embrace-android-sdk/embrace-proguard.cfg
Owners: @embrace-io/sdk-android

Update version file manually to 6.9.0-SNAPSHOT
  gradle.properties
Owners: @embrace-io/sdk-android

Create Span with EmbraceSpanBuilder in SpanService
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanBuilder.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/SpanRepository.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/SpanService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/SpanServiceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/UninitializedSdkSpanService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeSpanService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/CurrentSessionSpanImplTests.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanBuilderTest.kt
Owners: @embrace-io/sdk-android

GHA worflows - Use independent stale workflow
  .github/workflows/stale.yaml
Owners: @embrace-io/sdk-android

Refactor attribute storage in EmbraceSpan and EmbraceSpanBuilder
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/CurrentSessionSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanBuilder.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/SpanRepository.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/spans/PersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImplTest.kt
Owners: @embrace-io/sdk-android

Change storage and application of start time on wrappers
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanBuilder.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanBuilderTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImplTest.kt
Owners: @embrace-io/sdk-android

Add ability to reset parent and add SpanKind to EmbraceSpanBuilder
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanBuilder.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeSpanBuilder.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeTracer.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanBuilderTest.kt
Owners: @embrace-io/sdk-android

refactor: style updates
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/assertions/SpanAssertions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/ActivityFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/AnrFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/BreadcrumbFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/LowPowerFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/NetworkStatusFeatureTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/SessionPropertiesTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/ThermalStateTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/session/OtelSessionGatingTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/AttributeExtensions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/EmbraceInternalInterfaceTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/LogRecordExporterTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/NetworkRequestApiTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/PushNotificationTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/ReactNativeInternalInterfaceTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/TracingApiTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/V2SessionApiTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/AnrOtelMapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/ndk/NativeAnrOtelMapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/DeliveryCacheManager.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/payload/Span.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/payload/SpanEvent.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/payload/SpanMapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceExtensions.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/AnrOtelMapperTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/ndk/NativeAnrOtelMapperTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/startup/AppStartupTraceEmitterTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/api/ApiClientImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fixtures/SpansTestFixtures.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/payload/SpanMapperTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanDataTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/network/logging/EmbraceNetworkLoggingServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/orchestrator/SessionOrchestratorTest.kt
Owners: @embrace-io/sdk-android

refactor: specify end time for in progress anrs
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/AnrFeatureTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/AnrOtelMapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/ndk/NativeAnrOtelMapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/AnrModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/ndk/NativeModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/AnrOtelMapperTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/ndk/NativeAnrOtelMapperTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeAnrOtelMapper.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeAnrModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeNativeModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactorySessionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/V1PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/PayloadFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
Owners: @embrace-io/sdk-android

Propagate full parent context to children in EmbraceSpanBuilder
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/TracingApiTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanBuilder.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/spans/PersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fixtures/SpansTestFixtures.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanBuilderTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImplTest.kt
Owners: @embrace-io/sdk-android

Fix key span attribute change after reparenting
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanBuilder.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanBuilderTest.kt
Owners: @embrace-io/sdk-android

refactor: remove unused session fields
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRuleExtensions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/session/PeriodicSessionCacheTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/gating/SessionSanitizer.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SessionModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/Session.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V1PayloadMessageCollator.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceGatingServiceV1PayloadTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FakeBackgroundActivity.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionSanitizerFacadeTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionSanitizerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionStacktraceSampleJsonTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeSession.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeV2PayloadCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/BackgroundActivityTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactorySessionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/V1PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/PayloadFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/resources/bg_activity_expected.json
  embrace-android-sdk/src/test/resources/bg_activity_message_expected.json
  embrace-android-sdk/src/test/resources/session_expected.json
  embrace-android-sdk/src/test/resources/session_message_expected.json
  embrace-android-sdk/src/test/resources/session_stacktrace_symbols.json
  embrace-android-sdk/src/test/resources/v1_session_expected.json
Owners: @embrace-io/sdk-android

.github/CODEOWNERS:

# DevOps
.github @embrace-io/team-devops

# Global owners
* @embrace-io/sdk-android

# API surface owners
*.api @fractalwrench @fnewberg @bidetofevil
**/Embrace.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceApi.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceAndroidApi.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceInternalInterface.java @fractalwrench @fnewberg @bidetofevil
**/FlutterInternalInterface.java @fractalwrench @fnewberg
**/ReactNativeInternalInterface.java @fractalwrench @fnewberg @TheMutsi
**/UnityInternalInterface.java @fractalwrench @fnewberg
