Repository embrace-io/embrace-android-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @embrace-io/team-devops, @embrace-io/sdk-android, @fractalwrench, @fnewberg, @bidetofevil, @TheMutsi

.github/CODEOWNERS:

# DevOps
.github @embrace-io/team-devops

# Global owners
* @embrace-io/sdk-android

# API surface owners
*.api @fractalwrench @fnewberg @bidetofevil
**/Embrace.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceApi.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceAndroidApi.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceInternalInterface.java @fractalwrench @fnewberg @bidetofevil
**/FlutterInternalInterface.java @fractalwrench @fnewberg
**/ReactNativeInternalInterface.java @fractalwrench @fnewberg @TheMutsi
**/UnityInternalInterface.java @fractalwrench @fnewberg

Handle more edge cases
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/network/http/EmbraceUrlConnectionDelegate.java
Owners: @embrace-io/sdk-android

Only log network request when getWrappedStream is called
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/network/http/EmbraceUrlConnectionDelegate.java
Owners: @embrace-io/sdk-android

Handle more edge cases
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/network/http/EmbraceUrlConnectionDelegate.java
Owners: @embrace-io/sdk-android

Use macos to run the rc workflow
  .github/workflows/build-rc-workflow.yml
Owners: @embrace-io/sdk-android

Revert "Use macos to run the rc workflow"
  .github/workflows/build-rc-workflow.yml
Owners: @embrace-io/sdk-android

skip check
  .github/workflows/build-rc-workflow.yml
Owners: @embrace-io/sdk-android

Temporary workflow to create swazzler release branch
  .github/workflows/pre-release-swazzler.yml
Owners: @embrace-io/sdk-android

Fix swazzler branching workflow
  .github/workflows/pre-release-swazzler.yml
Owners: @embrace-io/sdk-android

remove responsiveness monitoring service
  embrace-android-sdk/src/androidTest/assets/golden-files/session-end.json
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/EmbracePerformanceInfoService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/gating/PerformanceInfoSanitizer.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataContainerModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/PerformanceInfo.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbracePerformanceInfoServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/PerformanceInfoTest.kt
  embrace-android-sdk/src/test/resources/perf_info_expected.json
Owners: @embrace-io/sdk-android

integration test
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/LogRecordExporterTest.kt
Owners: @embrace-io/sdk-android

public api for LogRecordExporter
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceApi.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

new api
  embrace-android-sdk/api/embrace-android-sdk.api
Owners: @fractalwrench, @fnewberg, @bidetofevil

fix tests
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/LogRecordExporterTest.kt
Owners: @embrace-io/sdk-android

validate that the sdk should be started
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
Owners: @embrace-io/sdk-android

adding tests
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/LogRecordExporterTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/SpanTest.kt
Owners: @embrace-io/sdk-android

addLogRecordExporter api (#708)
  embrace-android-sdk/api/embrace-android-sdk.api
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/LogRecordExporterTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/SpanTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceApi.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.java
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

Add EmbType and SchemaType for WebViewInfo.
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/EmbType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/SchemaType.kt
Owners: @embrace-io/sdk-android

remove logging functional tests
  embrace-android-sdk/src/androidTest/java/io/embrace/android/embracesdk/LogMessageTest.kt
Owners: @embrace-io/sdk-android

convert moment functional test to integration test
  embrace-android-sdk/src/androidTest/java/io/embrace/android/embracesdk/MomentMessageTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRuleExtensions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/MomentApiTest.kt
Owners: @embrace-io/sdk-android

convert session message functional test
  embrace-android-sdk/src/androidTest/java/io/embrace/android/embracesdk/SessionMessageTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRuleExtensions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/JsonComparator.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/V1SessionApiTest.kt
  embrace-android-sdk/src/test/resources/expected-webview-core-vital.json
  embrace-android-sdk/src/test/resources/v1_session_expected.json
Owners: @embrace-io/sdk-android

convert v2 session test
  embrace-android-sdk/src/androidTest/java/io/embrace/android/embracesdk/SessionSpanTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/V2SessionApiTest.kt
  embrace-android-sdk/src/test/resources/v2_session_expected.json
Owners: @embrace-io/sdk-android

Fix SDK version
  gradle.properties
Owners: @embrace-io/sdk-android

Remove configService parameter from onConfigChange
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/DataCaptureOrchestrator.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/ConfigListener.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/EmbraceConfigService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/ConfigGate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceConfigServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/arch/DataCaptureOrchestratorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeConfigService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/registry/ServiceRegistryTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/ConfigGateTest.kt
Owners: @embrace-io/sdk-android

test: add feature test for anrs
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/AnrFeatureTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/AnrModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/concurrency/BlockingScheduledExecutorService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeWorkerThreadModule.kt
Owners: @embrace-io/sdk-android

refactor: reduce number of sigquit classes
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/AnrThreadIdDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/FilesDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/FindGoogleThread.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/GetThreadCommand.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/GetThreadsInCurrentProcess.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/GoogleAnrHandlerNativeDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/SigquitDetectionService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/AnrModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/EmbraceSigquitDetectionServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/FindGoogleThreadTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/sigquit/AnrThreadIdDelegateTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/sigquit/FilesDelegateTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/sigquit/GetThreadCommandTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/sigquit/GetThreadsInCurrentProcessTest.kt
Owners: @embrace-io/sdk-android

feat: capture sigquit as otel span event
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRule.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/AnrFeatureTest.kt
  embrace-android-sdk/src/main/cpp/anr/anr.c
  embrace-android-sdk/src/main/cpp/anr/emb_anr_manager.c
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/EmbraceAnrService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/GoogleAnrHandlerNativeDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/GoogleAnrTimestampRepository.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/SigquitDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/SigquitDetectionService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/EmbType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/SchemaType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/EmbracePerformanceInfoService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/AnrModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataContainerModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/utils/Types.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceMemoryServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbracePerformanceInfoServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/EmbraceAnrServiceRule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/EmbraceAnrServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/EmbraceSigquitDetectionServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/sigquit/GoogleAnrTimestampRepositoryTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/sigquit/SigquitDataSourceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeAnrModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeDataSourceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/AnrModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/DataContainerModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/DataSourceModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionModuleImplTest.kt
  embrace-android-sdk/src/test/resources/v1_session_expected.json
Owners: @embrace-io/sdk-android

Remove ConfigListener and replaced its only use by a callback
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/DataCaptureOrchestrator.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/ConfigListener.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/ConfigService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/EmbraceConfigService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SessionModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/registry/ServiceRegistry.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/ConfigGate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceConfigServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/arch/DataCaptureOrchestratorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeConfigService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeSessionModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/registry/ServiceRegistryTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/ConfigGateTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/orchestrator/SessionOrchestratorTest.kt
Owners: @embrace-io/sdk-android

Remove ConfigListener and replaced its only use by a callback (#810)
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/DataCaptureOrchestrator.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/ConfigListener.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/ConfigService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/EmbraceConfigService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SessionModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/registry/ServiceRegistry.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/ConfigGate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceConfigServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/arch/DataCaptureOrchestratorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeConfigService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeSessionModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/registry/ServiceRegistryTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/ConfigGateTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/orchestrator/SessionOrchestratorTest.kt
Owners: @embrace-io/sdk-android

poc: modularise payloads
  embrace-android-payload/build.gradle
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/AppExitInfoData.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/AppInfo.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/BetaFeatures.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/BlobSession.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/DeviceInfo.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/DiskUsage.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/Interval.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/JsException.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/MemoryWarning.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/NativeCrash.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/NativeCrashDataError.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/NetworkCallV2.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/NetworkCapturedCall.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/NetworkEvent.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/NetworkRequests.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/NetworkSessionV2.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/PowerModeInterval.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/ResponsivenessOutlier.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/ResponsivenessSnapshot.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/ThermalState.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/WebViewInfo.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/WebVital.kt
  embrace-android-payload/src/main/kotlin/io/embrace/android/embracesdk/payload/WebVitalType.kt
  embrace-android-sdk/build.gradle
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/JsException.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/NativeCrash.kt
  settings.gradle
Owners: @embrace-io/sdk-android

ci: run on macOS 12
  .github/workflows/functional-tests.yml
Owners: @embrace-io/sdk-android

add native anrs to payload
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/ndk/NativeAnrOtelMapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/EmbracePerformanceInfoService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataContainerModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SessionModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/utils/Types.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/ndk/NativeModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/PerformanceInfo.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V1PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbracePerformanceInfoServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/PerformanceInfoTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionStacktraceSampleJsonTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/ndk/NativeAnrOtelMapperTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeNativeModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/DataContainerModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/ndk/NativeModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/V1PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/PayloadFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/resources/perf_info_expected.json
Owners: @embrace-io/sdk-android

refactor: reduce number of sigquit classes
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/AnrThreadIdDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/FilesDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/FindGoogleThread.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/GetThreadCommand.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/GetThreadsInCurrentProcess.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/GoogleAnrHandlerNativeDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/SigquitDetectionService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/AnrModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/EmbraceSigquitDetectionServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/FindGoogleThreadTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/sigquit/AnrThreadIdDelegateTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/sigquit/FilesDelegateTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/sigquit/GetThreadCommandTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/sigquit/GetThreadsInCurrentProcessTest.kt
Owners: @embrace-io/sdk-android

feat: capture sigquit as otel span event
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRule.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/AnrFeatureTest.kt
  embrace-android-sdk/src/main/cpp/anr/anr.c
  embrace-android-sdk/src/main/cpp/anr/emb_anr_manager.c
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/EmbraceAnrService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/GoogleAnrHandlerNativeDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/GoogleAnrTimestampRepository.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/SigquitDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/SigquitDetectionService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/EmbType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/schema/SchemaType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/EmbracePerformanceInfoService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/AnrModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataContainerModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/utils/Types.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceMemoryServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbracePerformanceInfoServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/EmbraceAnrServiceRule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/EmbraceAnrServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/EmbraceSigquitDetectionServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/sigquit/GoogleAnrTimestampRepositoryTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/anr/sigquit/SigquitDataSourceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeAnrModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeDataSourceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/AnrModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/DataContainerModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/DataSourceModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionModuleImplTest.kt
  embrace-android-sdk/src/test/resources/v1_session_expected.json
Owners: @embrace-io/sdk-android

Fix data-dev URL
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/behavior/SdkEndpointBehavior.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/EssentialServiceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/config/behavior/SdkEndpointBehaviorTest.kt
Owners: @embrace-io/sdk-android

Filter out emb.private logs from external exporters.
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/destination/LogWriter.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/destination/LogWriterImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/logs/EmbraceLogRecordExporter.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceExtensions.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/opentelemetry/OpenTelemetryConfiguration.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/arch/destination/LogWriterImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeLogWriter.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/logs/EmbraceLogRecordExporterTest.kt
Owners: @embrace-io/sdk-android

Update compileSdk, AGP, and ProfileInstaller to latest stable
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/io/embrace/gradle/Versions.kt
  embrace-android-sdk/build.gradle
Owners: @embrace-io/sdk-android

Add integration tests for Crash.
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/assertions/OTelLogAssertions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/session/CrashSessionTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/CrashTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/OTelLoggingApiTest.kt
Owners: @embrace-io/sdk-android

Add integration tests for Flutter Exceptions.
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/FlutterInternalInterfaceTest.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/OTelLoggingApiTest.kt
Owners: @embrace-io/sdk-android

Filter out emb.private logs from external exporters. (#814)
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/destination/LogWriter.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/destination/LogWriterImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/logs/EmbraceLogRecordExporter.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceExtensions.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/opentelemetry/OpenTelemetryConfiguration.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/arch/destination/LogWriterImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeLogWriter.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/logs/EmbraceLogRecordExporterTest.kt
Owners: @embrace-io/sdk-android

Add assertions to crash test.
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/CrashTest.kt
Owners: @embrace-io/sdk-android
