Repository embrace-io/embrace-android-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @embrace-io/team-devops, @embrace-io/sdk-android, @fractalwrench, @fnewberg, @bidetofevil, @TheMutsi

.github/CODEOWNERS:

# DevOps
.github @embrace-io/team-devops

# Global owners
* @embrace-io/sdk-android

# API surface owners
*.api @fractalwrench @fnewberg @bidetofevil
**/Embrace.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceApi.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceAndroidApi.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceInternalInterface.java @fractalwrench @fnewberg @bidetofevil
**/FlutterInternalInterface.java @fractalwrench @fnewberg
**/ReactNativeInternalInterface.java @fractalwrench @fnewberg @TheMutsi
**/UnityInternalInterface.java @fractalwrench @fnewberg

refactor: convert api interfaces to kotlin
  embrace-android-sdk/lint-baseline.xml
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceAndroidApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceApi.kt
Owners: @embrace-io/sdk-android, @fractalwrench, @fnewberg, @bidetofevil

refactor: break inheritance hierarchy in interfaces
  embrace-android-sdk/api/embrace-android-sdk.api
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceAndroidApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceApi.kt
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

refactor: extract view tracking delegate
  embrace-android-sdk/config/detekt/baseline.xml
  embrace-android-sdk/lint-baseline.xml
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/ViewTrackingApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/ViewTrackingApiDelegate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FakeBreadcrumbService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeModuleInitBootstrapper.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeInitModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/api/delegate/ViewTrackingApiDelegateTest.kt
Owners: @embrace-io/sdk-android

refactor: extract network calls into api delegate
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/NetworkRequestApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/NetworkRequestApiDelegate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/api/delegate/NetworkRequestApiDelegateTest.kt
Owners: @embrace-io/sdk-android

refactor: extract sdk state functions to delegate
  embrace-android-sdk/api/embrace-android-sdk.api
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/SdkStateApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/SdkStateApiDelegate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/api/delegate/SdkStateApiDelegateTest.kt
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

Set warm start delay heuristic to 2 seconds
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/startup/AppStartupTraceEmitter.kt
Owners: @embrace-io/sdk-android

Use first activity init time to calcuate application object to activity gap
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/startup/AppStartupTraceEmitter.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/startup/AppStartupTraceEmitterTest.kt
Owners: @embrace-io/sdk-android

refactor: extract sdk state functions to delegate
  embrace-android-sdk/api/embrace-android-sdk.api
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/SdkStateApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/SdkStateApiDelegate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/api/delegate/SdkStateApiDelegateTest.kt
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

refactor: extract moments api to delegate
  embrace-android-sdk/config/detekt/baseline.xml
  embrace-android-sdk/lint-baseline.xml
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/MomentsApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/MomentsApiDelegate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeEventService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/api/delegate/MomentsApiDelegateTest.kt
Owners: @embrace-io/sdk-android, @fractalwrench, @fnewberg, @bidetofevil

refactor: extract view tracking delegate
  embrace-android-sdk/config/detekt/baseline.xml
  embrace-android-sdk/lint-baseline.xml
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/ViewTrackingApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/ViewTrackingApiDelegate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FakeBreadcrumbService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeModuleInitBootstrapper.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeInitModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/api/delegate/ViewTrackingApiDelegateTest.kt
Owners: @embrace-io/sdk-android

refactor: break inheritance hierarchy in interfaces
  embrace-android-sdk/api/embrace-android-sdk.api
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceAndroidApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceApi.kt
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

refactor: convert api interfaces to kotlin
  embrace-android-sdk/lint-baseline.xml
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceAndroidApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceApi.kt
Owners: @embrace-io/sdk-android, @fractalwrench, @fnewberg, @bidetofevil

refactor: extract network calls into api delegate
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/NetworkRequestApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/NetworkRequestApiDelegate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/api/delegate/NetworkRequestApiDelegateTest.kt
Owners: @embrace-io/sdk-android

refactor: tracing api on embrace impl
  embrace-android-sdk/config/detekt/baseline.xml
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
Owners: @embrace-io/sdk-android, @fractalwrench, @fnewberg, @bidetofevil

refactor: inline embrace impl methods
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceInternalInterfaceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/InternalInterfaceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceInternalInterfaceImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/InternalInterfaceModuleImplTest.kt
Owners: @embrace-io/sdk-android, @fractalwrench, @fnewberg, @bidetofevil

refactor: extract otel exporter to api delegate
  embrace-android-sdk/lint-baseline.xml
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/OtelExporterApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/OtelExporterApiDelegate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeOpenTelemetryModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/api/delegate/OtelExporterApiDelegateTest.kt
Owners: @embrace-io/sdk-android

refactor: move package of internal interfaces
  embrace-android-sdk/api/embrace-android-sdk.api
  embrace-android-sdk/lint-baseline.xml
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/Embrace.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/LogType.java
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/LogType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/InternalInterfaceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/EmbraceAndroidApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/EmbraceApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/LogsApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/MomentsApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/NetworkRequestApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/OtelExporterApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/SessionApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/UserApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/ViewTrackingApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/EmbraceInternalInterfaceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/FlutterInternalInterfaceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/LogsApiDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/MomentsApiDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/NetworkRequestApiDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/OtelExporterApiDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/ReactNativeInternalInterfaceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/SessionApiDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/UninitializedSdkInternalInterfaceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/UnityInternalInterfaceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/UserApiDelegate.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/ViewTrackingApiDelegate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceInternalInterfaceImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FlutterInternalInterfaceImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/InternalInterfaceModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/ReactNativeInternalInterfaceImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/UninitializedSdkInternalInterfaceImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/UnityInternalInterfaceImplTest.kt
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

refactor: add breadcrumb delegate
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/BreadcrumbApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/BreadcrumbApiDelegate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FakeBreadcrumbService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/api/delegate/BreadcrumbApiDelegateTest.kt
Owners: @embrace-io/sdk-android

Fix services stopping logic
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRule.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/testcases/PublicApiTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapperTest.kt
Owners: @embrace-io/sdk-android

Update license in README text
  README.md
Owners: @embrace-io/sdk-android

refactor: webview delegate
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/EmbraceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/WebViewApi.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/WebViewApiDelegate.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FakeBreadcrumbService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeWebViewService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeDataCaptureServiceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/api/delegate/WebViewApiDelegateTest.kt
Owners: @embrace-io/sdk-android

refactor: tweak data source warning
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/sigquit/SigquitDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/datasource/DataSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/limits/UpToLimitStrategy.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/aei/AeiDataSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/connectivity/NetworkStatusDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/BreadcrumbDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/PushNotificationDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/RnActionDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/TapDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/ViewDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/WebViewUrlDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/memory/MemoryWarningDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/powersave/LowPowerDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/session/SessionPropertiesDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/thermalstate/ThermalStateDataSource.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/arch/DataSourceImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/arch/SpanDataSourceImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/arch/limits/UpToLimitStrategyTest.kt
Owners: @embrace-io/sdk-android

refactor: remove unused fields from session payload
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRuleExtensions.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/gating/PerformanceInfoSanitizer.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SessionModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/PerformanceInfo.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/SessionMessage.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V1PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceGatingServiceV1PayloadTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbracePerformanceInfoServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FakeBackgroundActivity.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/PerformanceInfoTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionPerformanceInfoSanitizerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/SessionSanitizerFacadeTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePerformanceInfo.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/BackgroundActivityMessageTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/payload/SessionMessageTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/V1PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/PayloadFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
  embrace-android-sdk/src/test/resources/bg_activity_message_expected.json
  embrace-android-sdk/src/test/resources/perf_info_expected.json
  embrace-android-sdk/src/test/resources/session_message_expected.json
  embrace-android-sdk/src/test/resources/v1_session_expected.json
Owners: @embrace-io/sdk-android

remove FragmentBreadcrumb
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crumbs/ViewDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/FragmentBreadcrumb.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/FragmentBreadcrumbTest.kt
  embrace-android-sdk/src/test/resources/fragment_breadcrumb_expected.json
Owners: @embrace-io/sdk-android

Convert webview info to OTel.
  embrace-android-sdk/api/embrace-android-sdk.api
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/destination/SessionSpanWriter.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/webview/EmbraceWebViewService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/webview/WebViewDataSource.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/webview/WebViewService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataCaptureServiceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DataSourceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/CurrentSessionSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/EmbraceSpanImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V1PayloadMessageCollator.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/spans/PersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/webview/WebViewDataSourceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeCurrentSessionSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeWebViewService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeDataCaptureServiceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/injection/DataSourceModuleImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
Owners: @fractalwrench, @fnewberg, @bidetofevil, @embrace-io/sdk-android

Update tests.
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/webview/EmbraceWebViewService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceWebViewServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/webview/WebViewDataSourceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeDataSourceModule.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakePersistableEmbraceSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/injection/FakeDataSourceModule.kt
Owners: @embrace-io/sdk-android

rollback api signature
  embrace-android-sdk/api/embrace-android-sdk.api
Owners: @fractalwrench, @fnewberg, @bidetofevil

Fix unit tests.
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/webview/WebViewDataSource.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceWebViewServiceTest.kt
Owners: @embrace-io/sdk-android

Fix unit tests.
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/webview/WebViewDataSource.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceWebViewServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/capture/webview/WebViewDataSourceTest.kt
Owners: @embrace-io/sdk-android

Add integration test
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/SpanAssertions.kt
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/features/WebviewFeatureTest.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/webview/WebViewDataSource.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceWebViewServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeCurrentSessionSpan.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/internal/api/delegate/WebViewApiDelegateTest.kt
Owners: @embrace-io/sdk-android

refactor: break dependency on v1 collator
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SessionModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactorySessionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/PayloadFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
Owners: @embrace-io/sdk-android

refactor: remove unnecessary v2 fields
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/SessionModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactorySessionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/PayloadFactoryImplTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/message/V2PayloadMessageCollatorTest.kt
Owners: @embrace-io/sdk-android

Update README.md
  README.md
Owners: @embrace-io/sdk-android

build: update to gradle 8.7
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @embrace-io/sdk-android

refactor: alter package name for internal errors
  embrace-android-sdk/src/integrationTest/kotlin/io/embrace/android/embracesdk/IntegrationTestRuleExtensions.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/EmbraceAnrService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/LivenessCheckScheduler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/anr/detection/UnbalancedCallDetector.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/DataCaptureOrchestrator.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/datasource/DataSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/aei/AeiDataSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/connectivity/EmbraceNetworkConnectivityService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/crash/EmbraceUncaughtExceptionHandler.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/envelope/resource/Device.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/envelope/session/SessionPayloadSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/internal/errors/EmbraceInternalErrorService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/internal/errors/InternalErrorService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/internal/errors/InternalErrorType.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/metadata/EmbraceMetadataService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/user/EmbraceUserService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/webview/EmbraceWebViewService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/EmbraceConfigService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/event/EmbraceEventService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/InitModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/ModuleInitBootstrapper.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/api/delegate/EmbraceInternalInterfaceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLogger.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/logging/EmbLoggerImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/ndk/EmbraceNdkService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/extensions/CrashFactory.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/EmbraceMemoryCleanerService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/SafeCaptureExtension.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/caching/PeriodicBackgroundActivityCacher.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/caching/PeriodicSessionCacher.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/id/SessionIdTrackerImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/ActivityLifecycleTracker.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/lifecycle/EmbraceProcessStateService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/session/message/V1PayloadMessageCollator.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeEmbLogger.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeInternalErrorService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/logging/EmbraceInternalErrorServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactorySessionTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/SessionHandlerTest.kt
Owners: @embrace-io/sdk-android

Update license in README text
  README.md
Owners: @embrace-io/sdk-android

Add fallback end time for spans in a terminated session
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryService.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/comms/delivery/EmbraceDeliveryServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeSession.kt
Owners: @embrace-io/sdk-android

Use a threadsafe map to make getActiveSpans threadsafe
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/spans/SpanRepository.kt
Owners: @embrace-io/sdk-android

refactor: alter lamdba parameter to be last
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/destination/LogWriter.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/arch/destination/LogWriterImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/aei/AeiDataSourceImpl.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/network/logging/NetworkCaptureDataSourceImpl.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/fakes/FakeLogWriter.kt
Owners: @embrace-io/sdk-android

poc: remove app id
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/metadata/EmbraceMetadataService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/capture/metadata/MetadataService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/comms/delivery/NoopDeliveryService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/EmbraceConfigService.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/LocalConfigParser.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/behavior/SdkEndpointBehavior.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/behavior/SdkModeBehavior.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/config/local/LocalConfig.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/DeliveryModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/injection/EssentialServiceModule.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/internal/BuildInfo.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/opentelemetry/OpenTelemetryConfiguration.kt
  embrace-android-sdk/src/main/java/io/embrace/android/embracesdk/payload/NetworkEvent.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/EmbraceGatingServiceV1PayloadTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/LocalConfigTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/config/behavior/NetworkBehaviorTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/network/logging/EmbraceNetworkCaptureServiceTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactoryBaTest.kt
  embrace-android-sdk/src/test/java/io/embrace/android/embracesdk/session/PayloadFactorySessionTest.kt
Owners: @embrace-io/sdk-android
